.titleText {
  position: absolute;
  width: 80%;
  height: 18px;
  left: 10%;
  right: 10%;
  top: 3%;
}

.policyText {
  position: absolute;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 10%;
  padding-right: 5%;
  overflow-y: scroll;

  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  color: #000000;
}
