.termsCondition {
  position: absolute;
  height: 32px;
  left: 5%;
  right: 5%;
  top: 480px;
  width: 90%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #090a0a;
  text-align: center;
}

.button {
  position: absolute;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  border: 0px;
  border-radius: 48px;
}

.logIn {
  position: absolute;
  width: 90%;
  height: 48px;
  left: 5%;
  right: 5%;
  top: 550px;
  color: #ffffff;
  background-color: #6b4eff;
}
.signIn:hover {
  background-color: #5f3ffe;
}
.signIn:active {
  background-color: #5736ff;
}

.loginTitle {
  position: absolute;
  width: 80%;
  height: 18px;
  left: 10%;
  right: 10%;
  top: 3%;
  text-align: center;
}

.emailInput {
  position: absolute;
  width: 84%;
  height: 48px;
  left: 5%;
  top: 207px;
  right: 5%;
  padding-left: 3%;
  padding-right: 3%;

  font-size: 16px;

  background: #ffffff;

  border: 1px solid #e3e5e6;
  border-radius: 8px;
}

.passwordInput {
  position: absolute;
  width: 84%;
  height: 48px;
  left: 5%;
  right: 5%;
  top: 272px;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 16px;

  background: #ffffff;

  border: 1px solid #e3e5e6;
  border-radius: 8px;
}

.forgetPassword {
  position: absolute;
  height: 16px;
  right: 4%;
  top: 340px;
  padding: 2px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: right;
  color: #6b4eff;
}
