.signUpTitle {
  position: absolute;
  width: 80%;
  height: 18px;
  left: 10%;
  right: 10%;
  top: 3%;
  text-align: center;
}

.emailInput {
  position: absolute;
  width: 84%;
  height: 48px;
  left: 5%;
  top: 207px;
  right: 5%;
  padding-left: 3%;
  padding-right: 3%;

  font-size: 16px;
  background: #ffffff;
  /* Sky/Light */

  border: 1px solid #e3e5e6;
  border-radius: 8px;
}

.passwordInput {
  position: absolute;
  width: 84%;
  height: 48px;
  left: 5%;
  top: 272px;
  right: 5%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 16px;

  background: #ffffff;

  border: 1px solid #e3e5e6;
  border-radius: 8px;
}

.confirmPasswordInput {
  position: absolute;
  width: 84%;
  height: 48px;
  left: 5%;
  top: 337px;
  right: 5%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 16px;

  background: #ffffff;

  border: 1px solid #e3e5e6;
  border-radius: 8px;
}

.termsCondition {
  position: absolute;
  height: 32px;
  left: 34px;
  right: 24px;
  top: 480px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  display: flex;
  align-items: flex-end;

  color: #090a0a;
}

.button {
  position: absolute;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  border: 0px;
  border-radius: 48px;
}

.signUp {
  position: absolute;
  width: 90%;
  height: 48px;
  left: 5%;
  right: 5%;
  top: 550px;
  color: #ffffff;
  background-color: #6b4eff;
}
.signUp:hover {
  background-color: #5f3ffe;
}
.signUp:active {
  background-color: #5736ff;
}
