.container {
  width: 375px;
  margin: auto;
  height: 100%;
  position: relative;
}

.scroll {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: relative;
    margin: auto;
  }

.title {
  position: absolute;
  left: 10px;
  font-size: 2em;
  height: 18px;
  right: 5%;
  top: 3.7%;
  text-align: center;
}

.room {
  position: absolute;
  width: 66px;
  height: 31px;
  left: 81px;
  top: 125px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  background: #ffffff;

  border: 1px solid #e3e5e6;
  border-radius: 8px;
}

.apartment {
  position: absolute;
  width: 94px;
  height: 31px;
  left: 165px;
  top: 125px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  background: #ffffff;

  border: 1px solid #e3e5e6;
  border-radius: 8px;
}

.typePrice {
  position: absolute;
  width: 87px;
  height: 18px;
  left: 10px;
  top: 175px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  align-items: center;
  color: #090a0a;
}

.typeText {
  position: absolute;
  width: 54px;
  height: 24px;
  left: 10px;
  top: 130px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  align-items: center;

  color: #090a0a;
}

.range_slider{
  position: absolute;
  width: 375px;
  height: auto;
  left: 10px;
  top: 205px;

}

.filterElements{
  position: absolute;
  width: 375px;
  height: auto;
  left: 10px;
  top: 290px;
}


.button {
  position: absolute;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  border: 0px;
  border-radius: 48px;
}
.applyButton {
  position: absolute;
  width: 327px;
  height: 48px;
  left: 20px;
  top: 857px;

  color: #ffffff;
  background-color: #6b4eff;
}

.applyButton:hover {
  background-color: #5f3ffe;
}
.applyButton:active {
  background-color: #5736ff;
}





.typeBedrooms {
  position: absolute;
  width: 72px;
  height: 18px;
  left: calc(50% - 72px / 2 - 124.5px);
  top: calc(50% - 18px / 2 - 154px);

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  display: flex;
  align-items: center;

  color: #090a0a;
}

.typeFloor {
  position: absolute;
  width: 38px;
  height: 18px;
  left: calc(50% - 38px / 2 - 141.5px);
  top: calc(50% - 18px / 2 - 110px);

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  align-items: center;

  color: #090a0a;
}

.typeKitchen {
  position: absolute;
  width: 56px;
  height: 18px;
  left: calc(50% - 56px / 2 - 132.5px);
  top: calc(50% - 18px / 2 - 66px);

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  align-items: center;

  color: #090a0a;
}

.typeRadius {
  position: absolute;
  width: 50px;
  height: 18px;
  left: calc(50% - 50px / 2 - 135.5px);
  top: calc(50% - 18px / 2 - 22px);

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  align-items: center;

  color: #090a0a;
}

.typeBackyard {
  position: absolute;
  width: 67px;
  height: 18px;
  left: calc(50% - 67px / 2 - 127px);
  top: calc(50% - 18px / 2 + 19px);

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  align-items: center;

  /* Ink/Darkest */

  color: #090a0a;
}

.typeFacilities {
  position: absolute;
  width: 241px;
  height: 57px;
  left: calc(50% - 67px / 2 - 127px);
  top: 450px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */

  display: flex;
  align-items: center;

  /* Ink/Darkest */

  color: #090a0a;
}

.typeAc {
  position: absolute;
  width: 64px;
  height: 12px;
  left: 57px;
  top: 509px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  /* or 164% */

  display: flex;
  align-items: center;

  color: #000000;
}

.typeLivingroom {
  position: absolute;
  width: 64px;
  height: 12px;
  left: 57px;
  top: 541px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  /* or 164% */

  align-items: center;

  color: #000000;
}

.typeSec {
  position: absolute;
  width: 64px;
  height: 12px;
  left: 222px;
  top: 509px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  /* or 164% */

  display: flex;
  align-items: center;

  color: #000000;
}

.typeLiving {
  position: absolute;
  width: 64px;
  height: 12px;
  left: 57px;
  top: 541px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  /* or 164% */

  display: flex;
  align-items: center;

  color: #000000;
}

.typeWifi {
  position: absolute;
  width: 64px;
  height: 12px;
  left: 222px;
  top: 541px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  /* or 164% */

  display: flex;
  align-items: center;

  color: #000000;
}

.typeParking {
  position: absolute;
  width: 64px;
  height: 12px;
  left: 57px;
  top: 573px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  /* or 164% */

  display: flex;
  align-items: center;

  color: #000000;
}
.typeLaundry {
  position: absolute;
  width: 64px;
  height: 12px;
  left: 222px;
  top: 573px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  /* or 164% */

  display: flex;
  align-items: center;

  color: #000000;
}

.applyBtn {
  position: absolute;
  width: 90%;
  height: 48px;
  left: 24px;
  right: 24px;
  top: 1224px;
  color: #ffffff;
  background-color: #6b4eff;
}


.trial{
  position: absolute;
  width: 295px;
  height: 32px;
  left: 27px;
  top: 181px;


  

}



.field1 {
  position: absolute;
  width: 134px;
  height: 29px;
  left: 110px;
  top: 238px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  background: #ffffff;
  /* Sky/Light */

  border: 1px solid #e3e5e6;
  border-radius: 8px;
}

.field2 {
  position: absolute;
  width: 134px;
  height: 29px;
  left: 110px;
  top: 282px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  background: #ffffff;
  /* Sky/Light */

  border: 1px solid #e3e5e6;
  border-radius: 8px;
}

.field3 {
  position: absolute;
  width: 134px;
  height: 29px;
  left: 110px;
  top: 326px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  background: #ffffff;
  /* Sky/Light */

  border: 1px solid #e3e5e6;
  border-radius: 8px;
}

.field4 {
  position: absolute;
  width: 134px;
  height: 29px;
  left: 110px;
  top: 370px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  background: #ffffff;
  /* Sky/Light */

  border: 1px solid #e3e5e6;
  border-radius: 8px;
}

.field5 {
  position: absolute;
  width: 134px;
  height: 29px;
  left: 110px;
  top: 411px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  background: #ffffff;
  /* Sky/Light */

  border: 1px solid #e3e5e6;
  border-radius: 8px;
}

.sbox1 {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 27px;
  top: 507px;

  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
}

.sbox2 {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 192px;
  top: 507px;

  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
}

.sbox3 {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 27px;
  top: 539px;

  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
}

.sbox4 {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 192px;
  top: 539px;

  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
}

.sbox5 {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 27px;
  top: 571px;

  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
}

.sbox6 {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 192px;
  top: 571px;

  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
}
