.scroll {
  width: 100%;
  height: 89%;
  overflow-y: scroll;
  position: relative;
  margin: auto;
}

.container {
  width: 375px;
  margin: auto;
  height: 100%;
  position: relative;
}

.title {
  position: absolute;
  width: 80%;
  height: 56px;
  left: 10%;
  right: 10%;
  top: 5%;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 16px;

  align-items: center;
  text-align: center;
  color: #000000;
}

#savedRoom1 {
  position: relative;
  height: 260px;
  background-color: white;
  border-radius: 16px;
  margin: auto;
  top: 20%;
  width: 90%;
}

#roomPic {
  position: absolute;
  width: 100%;
  height: 175px;
  border-radius: 16px 16px 0px 0px;
}

.mapMarker1 {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 10px;
  top: 185px;
}

#roomAddress {
  position: absolute;
  width: 204px;
  height: 22px;
  left: 35px;
  top: 185px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.mainPerson1 {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 10px;
  top: 210px;
}

.pesonName1 {
  position: absolute;
  width: 204px;
  height: 22px;
  left: 35px;
  top: 210px;
  font-family: "Inter";
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.priceDollar1 {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 50%;
  top: 210px;
}

.roomPrice1 {
  position: absolute;
  width: 204px;
  height: 22px;
  left: 55%;
  top: 210px;
  font-family: "Inter";
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.heart1 {
  position: absolute;
  width: 24px;
  top: 175px;
  right: 0;
  margin: 8px;
}

#savedTime {
  position: absolute;
  width: auto;
  font-family: "Inter";
  font-style: medium;
  font-weight: 300;
  font-size: 11px;
  color: #000000;
  bottom: 5px;
  right: 5px;
  margin: 5px;
}
