.container{
    height: 100%;
    width: 375px;
    margin: auto;
    position: relative;
}

.title{

position: absolute;
width: 237px;
height: 132px;
left: 67px;
top: 19px;

font-family: Karla;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 40px;

/* or 125% */
text-align: center;

color: #000000;
}

.circle{

position: absolute;
width: 128px;
height: 128px;
left: 122px;
top: 146px;

background: #FFFFFF;
border: 1px solid #C4C4C4;
box-sizing: border-box;
border-radius: 50%;
}

.camera{

position: absolute;
top:192px;
left:165px;
width:42px;
height:35px;

}

.create{
    height: 262px;
    width: 327px;
    position: absolute;
    top: 313px;
    left: 24px;
}

input:focus {
    outline:none;
    box-shadow: none;
}

.nameLabel{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.name{
    border-radius: 8px;
    width: 92%;
    height: 48px;
    padding-left: 20px;
    margin-bottom: 15px;
    border: 1px solid #e3e5e6;
}

.jobLabel{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.job{
    border-radius: 8px;
    width: 92%;
    height: 48px;
    padding-left: 20px;
    margin-bottom: 15px;
    border: 1px solid #e3e5e6;
}

.ageLabel{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.age{
    border-radius: 8px;
    width: 99%;
    height: 48px;
    padding-left: 20px;
    margin-bottom: 15px;
    border: 1px solid #e3e5e6;
    background-color: #FFFFFF;
}

.continue{    
    /* Primary/Base */
    background: #6B4EFF;
    border-radius: 48px;
    height: 48px;
color: white;
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
margin-top: 42em;
margin-left: 20px;
width: 88%;
border: 0px;

}

.msg{
    position: absolute;
width: 234px;
height: 82px;
left: 72px;
top: 676px;

font-family: Inter;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;

/* or 114% */
display: flex;
align-items: center;
text-align: center;

color: #000000;
}