.titleText {
  position: absolute;
  height: 18px;
  width: auto;
  left: 10%;
  right: 10%;
  top: 3%;
  text-align: center;
}

.emailInput {
  position: absolute;
  width: 84%;
  height: 48px;
  left: 5%;
  right: 5%;
  padding-left: 3%;
  padding-right: 3%;
  top: 207px;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #e3e5e6;
  border-radius: 8px;
}

.button {
  position: absolute;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  border: 0px;
  border-radius: 48px;
}

.passwordReset {
  position: absolute;
  width: 90%;
  height: 48px;
  left: 5%;
  right: 5%;
  top: 550px;
  color: #ffffff;
  background-color: #6b4eff;
}
.passwordReset:hover {
  background-color: #5f3ffe;
}
.passwordReset:active {
  background-color: #5736ff;
}
